@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --very-dark-blue: #131518;
    --white: #FFFFFF;
    --orange: #FC7614;
    --medium-gray: #7C8798;
    --light-gray: #969FAD;
    --dark-blue: #262E38;
    --black-gradiant: radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--very-dark-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.container {
    width: 412px;
    height: 416px;
    background: var(--black-gradiant);
    border-radius: 30px;
    display: none;
    flex-direction: column;
    padding-left: 32px;
}
.container.active, .container-2.active{
    display: flex;
}

.circul-icon{
    width: 48px;
    height: 48px;
    background-color: var(--dark-blue);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
}
.titulo {
    font-feature-settings: 'clig' off, 'liga' off;
    color: var(--white);
    font-family: Overpass;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 30px;
}
.content{
    margin-top: 7px;
    color: var(--light-gray);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Overpass;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    width: 340px;
}
.list-ranking{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 21px;
    margin-top: 24px;
}
.list-item{
    width: 51px;
    height: 51px;
    background-color: var(--dark-blue);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--medium-gray);
    font-family: Overpass;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
    letter-spacing: 0.2px;
    cursor: pointer;
    user-select: none;
}
.list-item.active{
    background-color: var(--medium-gray);
    color: var(--white);
}
.list-item:hover{
    background-color: var(--orange);
    color: var(--white);
}
.btn{
    margin-top: 32px;
    width: 341px;
    height: 45px;
    border: none;
    background-color: var(--orange);
    border-radius: 22.5px;
    cursor: pointer;
    user-select: none;
    color: var(--white);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Overpass;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
}
.btn:active{
    background-color: var(--white);
    color: var(--orange);
}

.container-2{
    width: 412px;
    height: 416px;
    background: var(--black-gradiant);
    border-radius: 30px;
    display: none;
    flex-direction: column;
    align-items: center;
}
.img-thanks{
    margin-top: 45px;
    width: 162px;
    height: 108px;
}
.box-mssg{
    margin-top: 32px;
    background-color: var(--dark-blue);
    border-radius: 22.5px;
    width: 193px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mssg-2{
    color: var(--orange);
    font-family: Overpass;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
}
.titulo-2{
    margin-top: 32px;
    color: var(--white);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Overpass;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.content-2{
    margin-top: 7px;
    width: 340px;
    color: var(--light-gray);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Overpass;
    font-size: 15px;
    font-style: normal;
    text-align: center;
    font-weight: 400;
    line-height: 24px; /* 160% */
}

@media (max-width: 420px) {
    .container {
        width: 327px;
        height: 360px;
        border-radius: 15px;
        padding-left: 24px;
    }
    .circul-icon{
        width: 40px;
        height: 40px;
        margin-top: 24px;
    }
    .titulo {
        font-size: 24px;
        margin-top: 16px;
    }
    .content{
        margin-top: 10px;
        font-size: 14px;
        line-height: 22px; 
        width: 279px;
    }
    .list-ranking{
        gap: 17px;
    }
    .list-item{
        width: 42px;
        height: 42px;
        font-size: 14px;
    }
    .btn{
        margin-top: 24px;
        width: 279px;
        font-size: 14px;
        letter-spacing: 1.867px;
    }
    
    .container-2{
        width: 327px;
        height: 360px;
        border-radius: 15px;
    }
    .img-thanks{
        margin-top: 34px;
        width: 144px;
        height: 96px;
    }
    .box-mssg{
        margin-top: 24px;
        width: 168px;
    }
    .mssg-2{
        font-size: 14px;
    }
    .titulo-2{
        margin-top: 29px;
        font-size: 24px;
    }
    .content-2{
        margin-top: 10px;
        width: 279px;
        font-size: 14px;
        line-height: 22px; 
    }
}